/* Website Styles */

<div class="post post-featured">
  <h2>Post title</h2>
  <p>Post description</p>
</div> */

* {
  font-size: 100%;
  line-height: 1;
  box-sizing: border-box;
}

.fit-chick {
  width: 800px;
  height: 1000px;
}

aside {
 right-margin:20px;
 float: right;
}

.left {
  float: left;
  border: 1px solid gainsboro;
  background-color: darkred;
  margin: 30px;
  padding: 30px;
  width: 600px;
  height: 300px;
}

.right {
  float: right;
  border: 1px solid gainsboro;
  background-color: darkred;
  margin: 30px;
  padding: 30px;
  width: 600px;
  height: 300px;
}

section {
  border: 1px solid gainsboro;
  margin: 30px 30px;
  padding: 30px;
  width: 275px;
  height: 325px;
  float: align;
}

img {
  width: 175px;
  height: 300px;
}

header,
section,
footer {
  padding: 30px;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

body {
  background-color: black;
  color: white;
  font-family: Raleway;
  margin: 100px 20px;
}

h1, h3 {
  margin-bottom: 50px;
}

h1 {
    color: darkred;
    font-size:76px;
    font-family: Raleway;
    font-weight: 800;
    text-align: center;
    margin: 30px;
}

header h1 {
  text-align: right;
}

h2 {
  font-size: 24px;
  font-weight: light;
  font-family: Raleway;
  margin-top: 60px;
  margin-bottom: 60;
}

h3 {
  font-size: 18px;
  font-family: normal;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

p {
  line-height: 1.5;
  font-size: 15px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.custom-banner-image {
background-image: url("images/workout2.jpg")
}

.custom-banner-image {
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
position: relative;
width: 100%;
height: 200px;
display: block;
}

/* I'm a CSS comment */

.workout {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

.custom-banner-image .banner-text {
padding: 50px 15px;
}

.box {
  border: 1px solid black;
  padding: 50px;
}

.box p {
  font-size: 24px;
}

.pill-nav a {
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.pill-nav a:hover {
  background-color: #ddd;
  color: black;
}

.pill-nav a.active {
  background-color: darkred;
  color: white;
}
